<!-- hotel_booking/templates/hotel_booking/available_rooms.html -->
{% extends 'hotel_booking/base.html' %}

{% block title %}Available Rooms - Hotel Booking{% endblock %}

{% block content %}
    <h2 class="text-center mb-4">Available Rooms</h2>

    <div class="row">
        {% for room in rooms %}
            <div class="col-md-4">
                <div class="card">
                    <img src="https://via.placeholder.com/400" class="card-img-top" alt="{{ room.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ room.name }}</h5>
                        <p class="card-text">{{ room.description }}</p>
                        <p><strong>Price per Night:</strong> Kshs. {{ room.price }}</p>
                        <a href="{% url 'book_room' room.id %}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a href="{% url 'add_room' %}">Add New Room</a>
        
    </div>
{% endblock %}
